<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CaC - Movies, peliculas y series online</title>
    <!-- Link de favicon, se carga sola: -->
        <link rel="icon" href="../favicon.ico" type="image/x-icon">
        <!-- Zona de script -->
        <script src="https://kit.fontawesome.com/fa04600604.js" crossorigin="anonymous"></script>
    </head>
<body>
    <header>
        <nav>
            <!-- Espacio para el logo -->
            <a href="../index.html"> <i class="fa-solid fa-film"></i> CAC - Movies</a>
            <ul type="square">
                <li><a href="#popular">Tendencias</a></li>
                <li><a href="./register.html" title="Haz click aquí para registarte">Registrarse</a></li>
                <li><a href="https://developer.themoviedb.org/docs" target="_blank" title="Haz click aquí para ir a la API">API Movie</a></li>
                <li><a href="#">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
<!-- Seccion principal de register -->
    <main>

    </main>

    <footer>
        <a href=".register.html" download="nombre_personalizado.html">Descargar un archivo</a> 
        <a href="#">Ayuda</a>
        <a href="#">Administrador de peliculas</a>
        <a href="#">Terminos y condiciones</a>
    </footer>

</body>
</html>