/* Secciones de un código en css 
1- Comentarios de cabecera

2- Reglas de estilo, ordenados por especificidad :
    a- Reglas universales.
    b- Reglas generales root o <html>, <body>, header, footer, main 
    c- Otros selectores de tipo o etiquetas: hi, p, span, a
    d- selectores de id 
    e- selectores de clase
    f- selectores especificos o pseudo-clases

3- Media Queries 
*/

:root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    margin: 0;    
}
.header-logo{
    margin-top: 3em;
    margin-left: 3em;
    text-decoration: none;
    font-size: 2em;
}
.header-logo i{
    color: #f2f2f2;
}
.banner{
   width: 100vw;
}
.banner-content{
    font-size: 16px;
    text-align: center;
}