header{
    background-color: orange;
    padding: 5px;
}
footer{
    background-color: orange;
    padding: 5px;
    text-align: center;
    font-weight: bolder;   
}
h1{
    text-align: center;    
}
map{
    size: 20px;
}
a{
    background-color: grey;
    color:white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
#coment{
    resize: none;
}